.blog-text {
    top: 112px;
    left: 904px;
    color: rgba(0, 0, 0, 1);
    width: 151px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-family: Tajawal;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text001 {
    color: rgba(0, 0, 0, 1);
    width: 151px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-weight: 700;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text002 {
    top: 112px;
    left: 495px;
    color: rgba(0, 0, 0, 1);
    width: 53px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-family: Tajawal;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text003 {
    color: rgba(0, 0, 0, 1);
    width: 53px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-weight: 700;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text007 {
    top: 112px;
    left: 386px;
    color: rgba(0, 0, 0, 1);
    width: 74px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-family: Tajawal;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text008 {
    color: rgba(0, 0, 0, 1);
    width: 74px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-weight: 700;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text009 {
    top: 112px;
    left: 583px;
    color: rgba(0, 0, 0, 1);
    width: 79px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-family: Tajawal;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text010 {
    color: rgba(0, 0, 0, 1);
    width: 79px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-weight: 700;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text011 {
    top: 112px;
    left: 697px;
    color: rgba(0, 0, 0, 1);
    width: 66px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-family: Tajawal;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text012 {
    color: rgba(0, 0, 0, 1);
    width: 66px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-weight: 700;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text013 {
    top: 112px;
    left: 798px;
    color: rgba(0, 0, 0, 1);
    width: 71px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-family: Tajawal;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text014 {
    color: rgba(0, 0, 0, 1);
    width: 71px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-weight: 700;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-blog {
    width: 1440px;
    height: 3110px;
    display: flex;
    overflow: hidden;
    position: relative;
    max-width: 1440px;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 1);
  }
  .blog-image {
    top: 13px;
    left: 60px;
    width: 71px;
    height: 40px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
  }
  .blog-image01 {
    top: 4px;
    left: 714px;
    width: 99px;
    height: 58px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
  }
  .blog-text015 {
    top: 17px;
    left: 615px;
    color: rgba(255, 99, 102, 1);
    width: 111px;
    height: auto;
    position: absolute;
    font-size: 36px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Tajawal;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text016 {
    color: rgba(255, 99, 102, 1);
    width: 111px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 700;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-svg {
    top: 66px;
    left: 50px;
    width: 1340;
    height: 1;
    position: absolute;
  }
  .blog-image02 {
    top: 147px;
    left: 0px;
    width: 1440px;
    height: 548px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
  }
  .blog-svg01 {
    top: 412px;
    left: 678px;
    width: 20;
    height: 18;
    position: absolute;
  }
  .blog-text017 {
    top: 336px;
    left: 655px;
    color: rgba(255, 255, 255, 1);
    width: 131px;
    height: auto;
    position: absolute;
    font-size: 48px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-family: Tajawal;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text018 {
    top: 401px;
    left: 710px;
    color: rgba(255, 99, 102, 1);
    width: 181px;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Tajawal;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text019 {
    color: rgba(255, 99, 102, 1);
    width: 181px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 700;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text020 {
    top: 401px;
    left: 603px;
    color: rgba(255, 255, 255, 1);
    width: 65px;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-family: Tajawal;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-image03 {
    top: 837px;
    left: 956px;
    width: 442px;
    height: 339px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
    border-radius: 20px;
    background-color: rgba(204, 205, 204, 0.14000000059604645);
  }
  .blog-text021 {
    top: 1045px;
    left: 1243px;
    color: rgba(0, 0, 0, 1);
    width: 105px;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-family: Tajawal;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text022 {
    color: rgba(0, 0, 0, 1);
    width: 105px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-weight: 500;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text023 {
    top: 873px;
    left: 1209px;
    color: rgba(255, 99, 102, 1);
    width: 159px;
    height: auto;
    position: absolute;
    font-size: 36px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-family: Tajawal;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text024 {
    color: rgba(255, 99, 102, 1);
    width: 159px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-weight: 500;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-svg02 {
    top: 932px;
    left: 960px;
    width: 438;
    height: 1px;
    position: absolute;
  }
  .blog-text025 {
    top: 967px;
    left: 1286px;
    color: rgba(0, 0, 0, 1);
    width: 62px;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-family: Tajawal;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text026 {
    top: 1006px;
    left: 1200px;
    color: rgba(0, 0, 0, 1);
    width: 148px;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-family: Tajawal;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text027 {
    top: 1084px;
    left: 1228px;
    color: rgba(0, 0, 0, 1);
    width: 120px;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-family: Tajawal;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-image04 {
    top: 2002px;
    left: 956px;
    width: 442px;
    height: 226px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
    border-radius: 20px;
    background-color: rgba(204, 205, 204, 0.14000000059604645);
  }
  .blog-text028 {
    top: 2041px;
    left: 1263px;
    color: rgba(255, 99, 102, 1);
    width: 105px;
    height: auto;
    position: absolute;
    font-size: 36px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-family: Tajawal;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text029 {
    color: rgba(255, 99, 102, 1);
    width: 105px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-weight: 500;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-svg03 {
    top: 2100px;
    left: 960px;
    width: 438;
    height: 1px;
    position: absolute;
  }
  .blog-image05 {
    top: 1248px;
    left: 956px;
    width: 442px;
    height: 650px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
    border-radius: 20px;
    background-color: rgba(204, 205, 204, 0.14000000059604645);
  }
  .blog-text030 {
    top: 1414px;
    left: 992px;
    color: rgba(61, 134, 179, 1);
    width: 392px;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    transition: 0.3s;
    font-family: Tajawal;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text030:hover {
    color: rgba(255, 99, 102, 1);
  }
  .blog-text033 {
    top: 1747px;
    left: 992px;
    color: rgba(61, 134, 179, 1);
    width: 392px;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    transition: 0.3s;
    font-family: Tajawal;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text033:hover {
    color: rgba(255, 99, 102, 1);
  }
  .blog-text036 {
    top: 1574px;
    left: 992px;
    color: rgba(61, 134, 179, 1);
    width: 392px;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    transition: 0.3s;
    font-family: Tajawal;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text036:hover {
    color: rgba(255, 99, 102, 1);
  }
  .blog-text039 {
    top: 1280px;
    left: 1140px;
    color: rgba(255, 99, 102, 1);
    width: 228px;
    height: auto;
    position: absolute;
    font-size: 36px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-family: Tajawal;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text040 {
    color: rgba(255, 99, 102, 1);
    width: 228px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-weight: 500;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-svg04 {
    top: 1344px;
    left: 960px;
    width: 438;
    height: 1px;
    position: absolute;
  }
  .blog-image06 {
    top: 1361px;
    left: 971px;
    width: 159px;
    height: 140px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
    border-radius: 30px;
  }
  .blog-image07 {
    top: 1704px;
    left: 971px;
    width: 159px;
    height: 140px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
    border-radius: 30px;
  }
  .blog-image08 {
    top: 1533px;
    left: 971px;
    width: 159px;
    height: 140px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
    border-radius: 30px;
  }
  .blog-image09 {
    top: 2119px;
    left: 1075px;
    width: 50px;
    height: 50px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
  }
  .blog-image10 {
    top: 2123px;
    left: 1152px;
    width: 50px;
    height: 50px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
  }
  .blog-image11 {
    top: 2123px;
    left: 1229px;
    width: 50px;
    height: 50px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
  }
  .blog-svg05 {
    top: -1140px;
    left: 294px;
    width: 1440;
    height: 548;
    position: absolute;
  }
  .blog-text041 {
    top: 23px;
    left: 1243px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    transition: 0.3s;
    font-family: Tajawal;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text041:hover {
    color: rgba(255, 99, 102, 1);
  }
  .blog-text042 {
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 700;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-svg06 {
    top: 2719px;
    left: 72px;
    width: 42;
    height: 41;
    position: absolute;
  }
  .blog-image12 {
    top: 2613px;
    left: 0px;
    width: 1440px;
    height: 497px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
    background-color: rgba(20, 20, 20, 1);
  }
  .blog-text043 {
    top: 2743px;
    left: 1041px;
    color: rgba(255, 255, 255, 1);
    width: 328px;
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-family: Tajawal;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text044 {
    color: rgba(255, 255, 255, 1);
    width: 328px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-weight: 500;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-image13 {
    top: 2672px;
    left: 1318px;
    width: 58px;
    height: 40px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
  }
  .blog-text045 {
    top: 2665px;
    left: 1168px;
    color: rgba(255, 255, 255, 1);
    width: 131px;
    height: auto;
    position: absolute;
    font-size: 48px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Tajawal;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text046 {
    color: rgba(255, 255, 255, 1);
    width: 131px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 400;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text047 {
    top: 2665px;
    left: 350px;
    color: rgba(255, 255, 255, 1);
    width: 270px;
    height: auto;
    position: absolute;
    font-size: 48px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-family: Tajawal;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text048 {
    color: rgba(255, 255, 255, 1);
    width: 270px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-weight: 500;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text049 {
    top: 2665px;
    left: 771px;
    color: rgba(255, 255, 255, 1);
    width: 158px;
    height: auto;
    position: absolute;
    font-size: 48px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-family: Tajawal;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text050 {
    color: rgba(255, 255, 255, 1);
    width: 158px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-weight: 500;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text051 {
    top: 2665px;
    left: 99px;
    color: rgba(255, 255, 255, 1);
    width: 145px;
    height: auto;
    position: absolute;
    font-size: 48px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-family: Tajawal;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text052 {
    color: rgba(255, 255, 255, 1);
    width: 145px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-weight: 500;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text053 {
    top: 2749px;
    left: 752px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-family: Tajawal;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text054 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-weight: 500;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text055 {
    top: 2842px;
    left: 754px;
    color: rgba(255, 255, 255, 1);
    width: 141px;
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-family: Tajawal;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text056 {
    color: rgba(255, 255, 255, 1);
    width: 141px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-weight: 500;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text057 {
    top: 2796px;
    left: 776px;
    color: rgba(255, 255, 255, 1);
    width: 119px;
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-family: Tajawal;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text058 {
    color: rgba(255, 255, 255, 1);
    width: 119px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-weight: 500;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text059 {
    top: 2742px;
    left: 491px;
    color: rgba(255, 255, 255, 1);
    width: 136px;
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    transition: 0.3s;
    font-family: Tajawal;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text059:hover {
    color: rgba(255, 99, 102, 1);
  }
  .blog-text060 {
    width: 136px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 700;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text061 {
    top: 2898px;
    left: 555px;
    color: rgba(255, 255, 255, 1);
    width: 69px;
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    transition: 0.3s;
    font-family: Tajawal;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text061:hover {
    color: rgba(255, 99, 102, 1);
  }
  .blog-text062 {
    width: 69px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 700;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text063 {
    top: 2836px;
    left: 555px;
    color: rgba(255, 255, 255, 1);
    width: 70px;
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    transition: 0.3s;
    font-family: Tajawal;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text063:hover {
    color: rgba(255, 99, 102, 1);
  }
  .blog-text064 {
    top: 2867px;
    left: 555px;
    color: rgba(255, 255, 255, 1);
    width: 61px;
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    transition: 0.3s;
    font-family: Tajawal;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text064:hover {
    color: rgba(255, 99, 102, 1);
  }
  .blog-text065 {
    top: 2804px;
    left: 574px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    transition: 0.3s;
    font-family: Tajawal;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text065:hover {
    color: rgba(255, 99, 102, 1);
  }
  .blog-text066 {
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 700;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text067 {
    top: 2773px;
    left: 560px;
    color: rgba(255, 255, 255, 1);
    width: 60px;
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    transition: 0.3s;
    font-family: Tajawal;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text067:hover {
    color: rgba(255, 99, 102, 1);
  }
  .blog-text068 {
    width: 60px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-weight: 700;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-svg07 {
    top: 2993px;
    left: 1px;
    width: 1438;
    height: 1px;
    position: absolute;
  }
  .blog-text069 {
    top: 3038px;
    left: 612px;
    color: rgba(255, 255, 255, 1);
    width: 215px;
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-family: Tajawal;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text070 {
    color: rgba(255, 255, 255, 1);
    width: 215px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-weight: 400;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-image14 {
    top: 2744px;
    left: 905px;
    width: 24px;
    height: 24px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
  }
  .blog-image15 {
    top: 2793px;
    left: 905px;
    width: 24px;
    height: 24px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
  }
  .blog-image16 {
    top: 2842px;
    left: 905px;
    width: 24px;
    height: 24px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
  }
  .blog-svg08 {
    top: 2732px;
    left: 75px;
    width: 42;
    height: 41;
    position: absolute;
  }
  .blog-svg09 {
    top: 2732px;
    left: 202px;
    width: 42;
    height: 41;
    position: absolute;
  }
  .blog-svg10 {
    top: 2732px;
    left: 141px;
    width: 42;
    height: 41;
    position: absolute;
  }
  .blog-image17 {
    top: 2738px;
    left: 81px;
    width: 30px;
    height: 30px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
  }
  .blog-image18 {
    top: 2738px;
    left: 208px;
    width: 30px;
    height: 30px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
  }
  .blog-image19 {
    top: 2738px;
    left: 147px;
    width: 30px;
    height: 30px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
  }
  .blog-image20 {
    top: 824px;
    left: 42px;
    width: 413px;
    height: 365px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
    border-radius: 30px;
  }
  .blog-text071 {
    top: 1204px;
    left: 60px;
    color: rgba(61, 134, 179, 1);
    width: 375px;
    height: auto;
    position: absolute;
    font-size: 36px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-family: Tajawal;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text074 {
    top: 1300px;
    left: 344px;
    color: rgba(255, 99, 102, 0.6200000047683716);
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-family: Tajawal;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text075 {
    color: rgba(255, 99, 102, 0.6200000047683716);
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-weight: 400;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text076 {
    top: 1339px;
    left: 352px;
    color: rgba(61, 134, 179, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    transition: 0.3s;
    font-family: Tajawal;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text076:hover {
    color: rgba(255, 99, 102, 1);
  }
  .blog-text077 {
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-weight: 500;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-image21 {
    top: 824px;
    left: 481px;
    width: 413px;
    height: 365px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
    border-radius: 30px;
  }
  .blog-text078 {
    top: 1204px;
    left: 495px;
    color: rgba(61, 134, 179, 1);
    width: 379px;
    height: auto;
    position: absolute;
    font-size: 36px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-family: Tajawal;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text081 {
    top: 1301px;
    left: 783px;
    color: rgba(255, 99, 102, 0.6200000047683716);
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-family: Tajawal;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text082 {
    color: rgba(255, 99, 102, 0.6200000047683716);
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-weight: 400;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text083 {
    top: 1339px;
    left: 790px;
    color: rgba(61, 134, 179, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    transition: 0.3s;
    font-family: Tajawal;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text083:hover {
    color: rgba(255, 99, 102, 1);
  }
  .blog-text084 {
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-weight: 500;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-image22 {
    top: 1400px;
    left: 481px;
    width: 413px;
    height: 365px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
    border-radius: 30px;
  }
  .blog-text085 {
    top: 1873px;
    left: 775px;
    color: rgba(255, 99, 102, 0.6200000047683716);
    width: 99px;
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-family: Tajawal;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text086 {
    color: rgba(255, 99, 102, 0.6200000047683716);
    width: 99px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-weight: 400;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text087 {
    top: 1780px;
    left: 506px;
    color: rgba(61, 134, 179, 1);
    width: 368px;
    height: auto;
    position: absolute;
    font-size: 36px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-family: Tajawal;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text090 {
    top: 1915px;
    left: 735px;
    color: rgba(61, 134, 179, 1);
    width: 139px;
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    transition: 0.3s;
    font-family: Tajawal;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text090:hover {
    color: rgba(255, 99, 102, 1);
  }
  .blog-text091 {
    width: 139px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-weight: 500;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-image23 {
    top: 1400px;
    left: 42px;
    width: 413px;
    height: 365px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
    border-radius: 30px;
  }
  .blog-text092 {
    top: 1780px;
    left: 56px;
    color: rgba(61, 134, 179, 1);
    width: 379px;
    height: auto;
    position: absolute;
    font-size: 36px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-family: Tajawal;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text095 {
    top: 1876px;
    left: 345px;
    color: rgba(255, 99, 102, 0.6200000047683716);
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-family: Tajawal;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text096 {
    color: rgba(255, 99, 102, 0.6200000047683716);
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-weight: 400;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text097 {
    top: 1915px;
    left: 354px;
    color: rgba(61, 134, 179, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    transition: 0.3s;
    font-family: Tajawal;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text097:hover {
    color: rgba(255, 99, 102, 1);
  }
  .blog-text098 {
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-weight: 500;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-image24 {
    top: 1980px;
    left: 481px;
    width: 413px;
    height: 365px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
    border-radius: 30px;
  }
  .blog-text099 {
    top: 2360px;
    left: 499px;
    color: rgba(61, 134, 179, 1);
    width: 375px;
    height: auto;
    position: absolute;
    font-size: 36px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-family: Tajawal;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text102 {
    top: 2456px;
    left: 784px;
    color: rgba(255, 99, 102, 0.6200000047683716);
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-family: Tajawal;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text103 {
    color: rgba(255, 99, 102, 0.6200000047683716);
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-weight: 400;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text104 {
    top: 2495px;
    left: 794px;
    color: rgba(61, 134, 179, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    transition: 0.3s;
    font-family: Tajawal;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text104:hover {
    color: rgba(255, 99, 102, 1);
  }
  .blog-text105 {
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-weight: 500;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-image25 {
    top: 1980px;
    left: 42px;
    width: 413px;
    height: 365px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
    border-radius: 30px;
  }
  .blog-text106 {
    top: 2453px;
    left: 336px;
    color: rgba(255, 99, 102, 0.6200000047683716);
    width: 99px;
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-family: Tajawal;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text107 {
    color: rgba(255, 99, 102, 0.6200000047683716);
    width: 99px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-weight: 400;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text108 {
    top: 2360px;
    left: 67px;
    color: rgba(61, 134, 179, 1);
    width: 368px;
    height: auto;
    position: absolute;
    font-size: 36px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-family: Tajawal;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text111 {
    top: 2495px;
    left: 293px;
    color: rgba(61, 134, 179, 1);
    width: 139px;
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    transition: 0.3s;
    font-family: Tajawal;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text111:hover {
    color: rgba(255, 99, 102, 1);
  }
  .blog-text112 {
    width: 139px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-weight: 500;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text113 {
    top: 100px;
    left: 902px;
    color: rgba(0, 0, 0, 1);
    width: 151px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    transition: 0.3s;
    font-family: Tajawal;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text113:hover {
    color: rgba(255, 99, 102, 1);
  }
  .blog-text114 {
    top: 100px;
    left: 495px;
    color: rgba(255, 99, 102, 1);
    width: 53px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-family: Tajawal;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text115 {
    top: 100px;
    left: 386px;
    color: rgba(0, 0, 0, 1);
    width: 74px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    transition: 0.3s;
    font-family: Tajawal;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text115:hover {
    color: rgba(255, 99, 102, 1);
  }
  .blog-text116 {
    width: 74px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-weight: 700;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text117 {
    top: 100px;
    left: 583px;
    color: rgba(0, 0, 0, 1);
    width: 79px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    transition: 0.3s;
    font-family: Tajawal;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text117:hover {
    color: rgba(255, 99, 102, 1);
  }
  .blog-text118 {
    width: 79px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-weight: 700;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text119 {
    top: 100px;
    left: 697px;
    color: rgba(0, 0, 0, 1);
    width: 66px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    transition: 0.3s;
    font-family: Tajawal;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text119:hover {
    color: rgba(255, 99, 102, 1);
  }
  .blog-text120 {
    width: 66px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-weight: 700;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text121 {
    top: 100px;
    left: 797px;
    color: rgba(0, 0, 0, 1);
    width: 71px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: normal;
    text-align: right;
    transition: 0.3s;
    font-family: Tajawal;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .blog-text121:hover {
    color: rgba(255, 99, 102, 1);
  }
  .blog-text122 {
    width: 71px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: right;
    font-weight: 700;
    font-stretch: normal;
    text-decoration: none;
  }
  